doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About
  link(rel='stylesheet' href='aboutstyle.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=PT+Serif&display=swap' rel='stylesheet')
  .container
  .box
    span
      h1#first For You
    span
      h1#second For Now
    p#para1 We have put together the music and shows to make your day
    p#para2 From the first coffee to the last dance,there is always great to play